# URL del API Backend de FastAPI
VITE_API_URL=http://127.0.0.1:8000/api/v1

# Clave opcional de MapTiler (si no se especifica, el sistema usa OpenStreetMap de alta disponibilidad)
# VITE_MAPTILER_API_KEY=
