PROJECT_NAME="PyCore - Enterprise Multi-Tenant SaaS"
VERSION="1.0.0"
API_V1_STR="/api/v1"

# Conexión MySQL Laragon (Puerto 3307)
DATABASE_URL="mysql+aiomysql://root:@127.0.0.1:3307/pycore_db"

# Seguridad JWT
SECRET_KEY="pycore_ultra_secure_secret_key_change_in_production_2026_x89f!q"
ALGORITHM="HS256"
ACCESS_TOKEN_EXPIRE_MINUTES=720
